#buckets-list {
  padding: 1rem;
}

/* Buckets */
.bucket {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ddd;
  height: 300px;
  overflow-y: auto;
}

.bucket header > *,
.bucket main > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.bucket h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Or set a specific pixel width like 300px */
}

/* Progress & Icons */

img.cover {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 140px;
}

.icon {
  font-size: 20px;
}

.progress-bar-container {
  font-size: 12px;
}

sl-progress-bar {
  --track-color: #e0e0e0;
  --indicator-color: #4caf50;
  margin-top: 5px;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 12px;
  margin-top: 10px;
}

.goals {
  display: flex;
  align-items: center;
  font-size: inherit;
  margin: 0;
}

.funders-comments {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: inherit;
  margin: 0;
}

.funders-comments .icon {
  font-size: 16px;
}

strong {
  font-weight: bold;
}
