#buckets-list {
  padding: 1rem;
}

/* Buckets */
.bucket {
  background-color: white;
  padding: 1rem;
  border: 1px solid #ddd;
  height: 400px;
  overflow-y: auto;
}

.bucket header > *,
.bucket main > * {
  margin-bottom: 0.5rem;
}

.bucket h3,
.bucket p {
  font-size: 12px;
}

.bucket h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Or set a specific pixel width like 300px */
}

/* Progress & Icons */
.funders-comments {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  margin: 10px 0;
}

img.cover {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 140px;
}

.icon {
  font-size: 20px;
}

.progress-bar-container {
  margin: 15px 0;
}

.progress-bar {
  background-color: #e0e0e0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.goals {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

strong {
  font-weight: bold;
}

.goal p {
  margin: 0;
}

.goal span {
  font-weight: bold;
  color: #007bff;
}
