/* Hide all buckets by default */
.bucket {
  display: none;
}

body.rating-1 .bucket[data-rating="1"],
body.rating-2 .bucket[data-rating="2"],
body.rating-3 .bucket[data-rating="3"],
body.rating-4 .bucket[data-rating="4"],
body.rating-5 .bucket[data-rating="5"],
body.rating-unrated .bucket[data-rating="0"] {
  display: block;
}

/* Show all buckets when no filters are checked */
.filter-rating:not(:checked):checked ~ #buckets-list .bucket {
  display: block;
}

.rating {
  --symbol-size: 14px;
}